<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <!-- <bean id="myFortuneService"
    		class="com.luv2code.springdemo.HappyFortuneService">
    	</bean> -->
    
 	
 	<context:property-placeholder location="classpath:football.properties"/>
 	
 	<bean id="myFortune"
 		class = "com.udemy.springDemo.HappyFortuneService">
 	</bean>
 	
 	<bean id="myRandomFortune"
 		class = "com.udemy.springDemo.RandomFortune">
 		</bean>
 	
 	<bean id="myFootballCoach"
 		class = "com.udemy.springDemo.FootballCoach">
 		
 		<property name="fortuneService" ref="myFortune"></property>
 		<property name="emailAddress" value="${football.email}"></property>
 		<property name="team" value="${football.team}"></property>
 		
 		<property name="randomFortuneService" ref="myRandomFortune"></property>
 		
 		</bean>
 	
 	<!-- <bean id="myCoach"
 		class="com.udemy.springDemo.FootballCoach">
 		<property name="footballCoach" ref = "myFootballCoach" />
 		
 		<constructor-arg ref = "myFortune"/>	 		
 	</bean> -->

    <!--
    <bean id="myCoach"
        class="com.luv2code.springdemo.BaseballCoach">         
    </bean>
    -->

</beans>





